In [3]:
#wczytaj pliki treningowy jako df_trasin. Jeśli plik nie chce się wczytać po nazwie pliku dodaj encoding='iso-8859-1'
import pandas as pd
df_trasin = pd.read_csv('Corona_NLP_train.csv', encoding='iso-8859-1')

In [4]:
#wyświetl zawartość pliku treningowego
df_trasin

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [6]:
#zamiana kategorii na liczby od 0 do 4 - postać zrozumiałą dla algorytmu
df_trasin['Sentiment'] = df_trasin.Sentiment.map({'Extremely Negative':0, 'Negative':1, 'Neutral':2, 'Positive':3, 'Extremely Positive':4})

In [7]:
#wyświetl zawartość pliku treningowego, aby sprawdzić powyższy podział
df_trasin

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,2
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,3
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,3
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,3
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",0
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,2
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,0
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,3
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,2
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,1

In [14]:
#podziel dane na treningowe i testowe
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_trasin['OriginalTweet'], df_trasin['Sentiment'], train_size= 0.8, random_state = 1)

#podsumowanie ile mamy linijek ogolnie, ile w treningowym, ile w testowym
print('Number of rows in the total set: {}'.format(df_trasin.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 41157
Number of rows in the training set: 32925
Number of rows in the test set: 8232

In [15]:
#przelicz liczbę wystąpień każdego słowa w każdej wiadomości i stworz macierz wystąpień

from sklearn.feature_extraction.text import CountVectorizer

count_vector = CountVectorizer()

# uruchomienie dla zbioru treningowego - sprawdzamy jakie słowa są w zbiorze i tworzymy dla niej macierz
training_data = count_vector.fit_transform(X_train) 

# uruchomienie dla zbioru testowego - przyrówanianie zbioru test do macierzy w zniorze tren i 
# stworeznie takiej samej macierzy jak dla treningowej (przy czym te słowa które nie wystąpiły w treningowym są pomijane)
testing_data = count_vector.transform(X_test)

#CountVectorizer przelicza liczbę wystąpień każdego słowa w każdej wiadomości i tworzy macierz, w której 
#wiersze reprezentują wiadomości, a kolumny reprezentują słowa kluczowe. Wartości w macierzy wskazują, ile 
#razy dane słowo występuje w danej wiadomości.

In [16]:
#sprawdzenie jak wiele jest "jednostek" w całym zbiorze
len(training_data.toarray())

32925

In [17]:
#wytrenuj klasyfikator Bayesa

#trening klasyfikatora
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data,y_train)

MultinomialNB()

In [21]:
#zrób predykcję na danych testowych i sprawdź accuracy, Jeśli wynik nie jest zadowalacący sprawdz inny klasyfikator

#predykcja
predictions = naive_bayes.predict(testing_data)

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
# print('Precision score: ', format(precision_score(y_test, predictions))) - tego nam nie policzy bo mamy 4 wartosci a acc na binarnych moze liczyc

Accuracy score:  0.44982993197278914

In [ ]:
żeby ulepszyć ten zbiór trzeba by usunac wszystkie emotki, zmienic wielkośc liter,

In [22]:
# bede sobie sprawdzac np kmn

from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

model = SVC(kernel = 'linear')
model.fit(training_data, y_train)
y_pred = model.predict(testing_data)
acc=accuracy_score(y_test, predictions)

In [24]:
print(acc)
# słabo

0.44982993197278914